{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if current_user.is_authenticated %}
        {% if current_user.role == 'admin' %}
            <a href="{{ url_for('admin.dashboard') }}" class="btn btn-primary">Go to Admin Dashboard</a>
        {% else %}
            <a href="{{ url_for('user.dashboard') }}" class="btn btn-primary">Go to User Dashboard</a>
        {% endif %}
    {% else %}
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Login</a>
    {% endif %}
</div>
{% endblock %}